.row {
    @mixin clearfix{};

    &--gutter {
        margin-right: -65px;
    }

    &--gutter-lg {
        margin-right: -100px;
    }

    &--gutter > div {
        padding-right: 65px;
    }

    &--gutter-sm {
        margin-right: -45px;
    }

    &--gutter-sm > div {
        padding-right: 45px;
    }

    &--gutter-lg > div {
        padding-right: 100px;
    }

    &__b-margin-until-md {
        margin-bottom: 1rem;
    }

    &--t-padding {
        padding-top: 80px;
    }

    @mixin atMedium {

        &__b-margin-until-md {
            margin-bottom: 0;
        }
        
        &__md-4 {
            float: left;
            width: 33.33%;
        }

        &__md-4--increase {
            width: 37%;
        }

        &__md-6 {
            float: left;
            width: 50%;
        }

        &__md-8 {
            float: left;
            width: 66.66%;
        }

        &__md-8--reduce {
            width: 63%;
        }
    }

    @mixin atLarge {

        &__b-margin-until-lg {
            margin-bottom: 0;
        }
        
        &__lg-4 {
            float: left;
            width: 33.33%;
        }

        &__lg-4--increase {
            width: 37%;
        }

        &__lg-6 {
            float: left;
            width: 50%;
        }

        &__lg-8 {
            float: left;
            width: 66.66%;
        }

        &__lg-8--reduce {
            width: 63%;
        }
    }

    &--equal-ht-md {
            @mixin atMedium {
                display: flex;
            }

            & > div {
                float: none;
                display: flex;
            }
        }

        &--equal-ht-lg {
            @mixin atLarge {
                display: flex;
            }

            & > div {
                float: none;
                display: flex;
            }
        }
}