.row {
    @mixin clearfix{};

    &--gutter {
        margin-right: -65px;
    }

    &--gutter-lg {
        margin-right: -100px;
    }

    &--gutter > div {
        padding-right: 65px;
    }

    &--gutter-lg > div {
        padding-right: 100px;
    }

    &__b-margin-until-md {
        margin-bottom: 1rem;
    }

    @mixin atMedium {

        &__b-margin-until-md {
            margin-bottom: 0;
        }
        
        &__md-4 {
            float: left;
            width: 33.33%;
        }

        &__md-4--increase {
            width: 37%;
        }

        &__md-6 {
            float: left;
            width: 50%;
        }

        &__md-8 {
            float: left;
            width: 66.66%;
        }

        &__md-8--reduce {
            width: 63%;
        }
    }
}